.component {
    padding: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.table {
    border: 1px solid rgba(199, 199, 199, 0.603);
}

td:hover {
    background-color: rgba(241, 241, 241, 0.966);
}