<div>
  <form class="input" >
      <input 
        type="search"
        placeholder="search..."
        autofocus
        (keyup)="debounce.next($event.target.value)"
      >
  </form>
</div>

<ul>
  <li *ngFor="let photo of photos | filterByDescription : filter" class="responsive">
    <app-photo 
      [url]="photo.url" 
      [description]="photo.description">
    </app-photo>
  </li>
</ul>
<app-load-button [hasMore]="hasMore" (click)="load()"></app-load-button>

<p *ngIf="photos | lengthZero : filter">Sorry Not found...</p>




