.input {
    text-align: center;
    padding: 10px
}

p {
    text-align: center;
    color: rgb(109, 109, 109);
    font-size: 200%;
    font-family: sans-serif;
}

.pop-text {
    overflow: hidden;
    position: relative;
}

.pop-text i {
    padding-right: 0;
    transition: padding-right 0.1s ease-out;
}

.pop-text:hover i {
    padding-right: 100px;
    transition: padding-right 0.2s ease-in;
}

.pop-text span {
    white-space: nowrap;
    position: absolute;
    right: -500px;
    opacity: 0;
}

.pop-text:hover span {
    right: 0;
    opacity: 1;
    transition: right 0.2s ease-out, opacity 0.2s ease-in;
}


.user-search {
    position: relative;
}

.user-list {
    position: absolute;
    top: 55px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 200px;
    right: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 1px 1px 8px #00000042;
}

.user-list div {
    padding: 10px;
}

.user-list div:hover {
    cursor: pointer;
    background-color: #007bff;
    color: white;
}