<header class="fixed-top border" style="position: sticky;">

    <nav class="navbar navbar-light bg">
        <a class="navbar-brand">
            <span class="pointer" [routerLink]="['']">PHOTO-APP</span>
        </a>
        
        <div *ngIf="(user$ | async) as user; else login">
            <i class="fa fa-user-circle mr-1"></i>
            <a class="mr-1">{{ user.name}}</a>
            <div class="sair">
                <a (click)="logout()">(Sair)</a>
            </div>
        </div>

        <ng-template #login>
            <span class="navbar-text">
                <a [routerLink]="['']">Faça login para continuar!</a>
            </span>
        </ng-template> 
    </nav>
    <div class="fixed-top">
        <app-loading></app-loading>
        <app-alert></app-alert>
    </div>
</header>

