/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.88) 0%, rgba(255,255,255,0.85) 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.88) 0%,rgba(255,255,255,0.85) 100%);
	background: radial-gradient(ellipse at center,  rgba(255,255,255,0.88) 0%,rgba(255,255,255,0.85) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0ffffff', endColorstr='#d9ffffff',GradientType=1 );

	min-height: 80vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.responsive {
    width: 24%;
    height: auto;
}

.pointer {
	cursor: pointer;
}

.fs-12 {
	font-size: 12px;
}

.fs-14 {
	font-size: 14px;
}

.fs-16 {
	font-size: 16px;
}


.icones-numero {
	display: flex;
	align-items: center;
}

.icones-numero span {
	font-size: 1.6rem;
}

i.expand-on-hover:hover {
	transform: scale(1.3);
	transition: transform 0.1s linear;
	cursor: pointer;
}

.bg {
	background-color: rgb(255, 253, 253);
}